/*********************
variables
*********************/
$fontFamily: "Raleway", sans-serif;
$font: 16px;
$black: #1f1f1f;
$pink: #ef1f52;
$gray: gray;
$lightgray: #cccac5;
$boxShadom: #cccac5;
$white: #fff;
$transition: 0.3s ease;
$padding: 50px 0;

/*********************
mixins
*********************/
@mixin flex($justufy, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justufy;
    align-items: $align;
    flex-direction: $direction;
}
/*********************
basic styles
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    color: white;
}
ul {
    list-style: none;
}
a {
    color: $black;
    text-decoration: none;
    transition: color $transition;
    &:hover {
        color: $white;
    }
}
.container {
    width: 80%;
    margin: 0 auto;
}
// nav

nav {
    @include flex(space-between, center, row);
    background: linear-gradient(to right, $pink, $lightgray);
    padding: 20px 60px;
    .logo {
        font-size: 1.8rem;
        line-height: 25px;
        font-weight: 700;
        span {
            font-weight: 600;
            font-size: 1rem;
            color: $white;
        }
    }
    ul {
        @include flex(space-between, center, row);
        li {
            margin: 0 20px;
            text-transform: uppercase;
            &:nth-child(5) {
                background: $pink;
                padding: 10px 20px;
                a {
                    color: $white;
                    &:hover {
                        color: $lightgray;
                    }
                }
            }
            &:nth-child(6) {
                background: $black;
                padding: 10px 15px;
                a {
                    color: $white;
                    &:hover {
                        color: $lightgray;
                    }
                }
            }
        }
    }
}

// footer
footer {
    background: linear-gradient(to right, $black, $pink);
    padding: 60px 60px;
    text-align: center;
    .container {
        @include flex(space-between, center, row);
        div {
            flex: 1;
            .logo {
                font-size: 1.8rem;
                line-height: 25px;
                font-weight: 600;
                color: $white;
                span {
                    font-weight: 500;
                    font-size: 1rem;
                    color: $pink;
                }
                &:hover {
                    color: $pink;
                }
            }
        }
    }
}
