/*********************
variables
*********************/
$fontFamily: "Raleway", sans-serif;
$font: 16px;
$black: #1f1f1f;
$pink: #ef1f52;
$gray: gray;
$lightgray: #cccac5;
$boxShadom: #cccac5;
$white: #fff;
$transition: 0.3s ease;
$padding: 50px 0;

/*********************
mixins
*********************/
@mixin flex($justufy, $align, $direction) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $justufy;
    align-items: $align;
    flex-direction: $direction;
}
@mixin btn {
    padding: 15px 40px;
    background-color: $pink;
    border: none;
    color: $white;
    margin-top: 20px;
    cursor: pointer;
    transition: $transition;
    &:hover {
        background-color: $black;
    }
}
/*********************
basic styles
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $fontFamily;
    line-height: 1.6;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}
ul {
    list-style: none;
}
a {
    color: $black;
    text-decoration: none;
    transition: color $transition;
    &:hover {
        color: $white;
    }
}
.container {
    width: 80%;
    margin: 0 auto;
    @media (max-width: 767px) {
        width: 95%;
    }
}
.headings {
    padding: $padding;
    @include flex(flex-start, center, row);
    article {
        &:first-child {
            flex: 0 0 15%;
            @media (max-width: 767px) {
                flex: 0 0 100%;
            }
            h2 {
                font-size: 10rem;
                color: $lightgray;
                margin-right: 20px;
            }
        }
        &:last-child {
            flex: 0 0 80%;
            @media (max-width: 767px) {
                flex: 0 0 100%;
            }
            h3 {
                text-transform: uppercase;
            }
            h2 {
                text-transform: uppercase;
                font-size: 3rem;
                span {
                    color: $pink;
                }
                @media (max-width: 767px) {
                    font-size: 2rem;
                }
            }
            h4 {
                font-size: 1.5rem;
                font-weight: 400;
            }
        }
    }
}
// nav

nav {
    @include flex(space-between, center, row);
    background: linear-gradient(to right, $pink, $lightgray);
    padding: 20px 60px;
    @media (max-width: 767px) {
        @include flex(center, center, column);
        text-align: center;
    }
    .logo {
        font-size: 1.8rem;
        line-height: 25px;
        font-weight: 700;
        span {
            font-weight: 600;
            font-size: 1rem;
            color: $white;
        }
    }
    ul {
        @include flex(space-between, center, row);
        li {
            margin: 0 20px;
            text-transform: uppercase;
            &:nth-child(5) {
                background: $pink;
                padding: 10px 20px;
                a {
                    color: $white;
                    &:hover {
                        color: $lightgray;
                    }
                }
            }
            &:nth-child(6) {
                background: $black;
                padding: 10px 15px;
                a {
                    color: $white;
                    &:hover {
                        color: $lightgray;
                    }
                }
            }
        }
    }
}

// footer
footer {
    background: linear-gradient(to right, $black, $pink);
    padding: 60px 60px;
    text-align: center;
    color: $white;
    .container {
        @include flex(space-between, center, row);
        div {
            flex: 1;
            @media (max-width: 767px) {
                flex: 0 0 100%;
                margin-bottom: 20px;
            }
            .logo {
                font-size: 1.8rem;
                line-height: 25px;
                font-weight: 600;
                color: $white;
                span {
                    font-weight: 500;
                    font-size: 1rem;
                    color: $pink;
                }
                &:hover {
                    color: $pink;
                }
            }
        }
    }
}

.mainHeader {
    background: url(../img/header.jpg);
    background-position: center;
    background-size: cover;
    @include flex(center, flex-end, column);
    padding-right: 300px;
    text-align: right;
    height: 80vh;
    @media (max-width: 767px) {
        text-align: left;
        padding: 30px;
        align-items: flex-start;
    }
    h1 {
        font-size: 4rem;
        line-height: 1.3;
        @media (max-width: 767px) {
            font-size: 3rem;
        }
    }
    h3 {
        font-size: 2rem;
        color: $pink;
        padding: 20px 0;
    }
    p {
        color: $pink;
        font-size: 1.3rem;
    }
    button {
        @include btn;
    }
}

.about {
    @include flex(space-between, center, row);
    article {
        flex: 1;
        height: 500px;
        @media (max-width: 767px) {
            flex: 0 0 100%;
        }
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:last-child {
            background-color: $black;
            color: $white;
            @include flex(center, flex-start, column);
            padding: 0 30px;
            @media (max-width: 767px) {
                align-items: center;
            }
            h2 {
                text-transform: uppercase;
                font-size: 2.5rem;
                @media (max-width: 767px) {
                    font-size: 2rem;
                }
            }
        }
    }
}

.servicies {
    padding: $padding;
    @include flex(space-between, center, row);

    article {
        flex: 0 0 30%;
        @media (max-width: 767px) {
            flex: 0 0 100%;
        }
        border: 1px solid $black;
        padding: 20px;
        margin-bottom: 55px;
        transition: transform $transition;
        &:hover {
            box-shadow: 0 0 20px $lightgray;
            transform: scale(1.1);
        }
        i {
            font-size: 5rem;
            color: $pink;
            margin-bottom: 20px;
        }
        h3 {
            font-size: 1.7rem;
        }
        hr {
            margin: 20px 0;
        }
    }
}

.business {
    background-color: $black;
    color: $white;
    button {
        @include btn();
    }
    & > article {
        @include flex(space-evenly, center, row);
        padding: $padding;
        text-align: center;
        div {
            flex: 1;
            @media (max-width: 767px) {
                flex: 0 0 100%;
            }
            h2 {
                color: $pink;
                font-size: 4rem;
            }
            h4 {
                color: $pink;
                font-size: 2rem;
            }
            hr {
                border: none;
                height: 2px;
                background-color: $white;
                width: 80px;
                margin: 30px auto 0;
            }
        }
    }
}

.team {
    padding-bottom: 100px;
    @include flex(space-between, flex-start, row);
    text-align: center;
    article {
        flex: 0 0 30%;
        @media (max-width: 767px) {
            flex: 0 0 100%;
        }
        img {
            width: 100%;
            border-radius: 50%;
            opacity: 0.8;
            border: 5px solid $lightgray;
            transition: $transition;
            cursor: pointer;
            &:hover {
                transform: scale(110%);
                border: 5px solid $pink;
            }
        }
        h4 {
            color: $pink;
            font-size: 1.3rem;
            padding: 20px 0;
        }
    }
}
